@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'NunitoSans';
        font-weight: 400;
        src: url('./assets/fonts/NunitoSans-Regular.ttf');
    }
    @font-face {
        font-family: 'NunitoSans-Bold';
        font-weight: 500;
        src: url('./assets/fonts/NunitoSans-SemiBold.ttf');
    }
}

* {
    outline: 0;
}
