@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'NunitoSans';
        src: url('./assets/fonts/NunitoSans-Regular.ttf');
    }
    @font-face {
        font-family: 'NunitoSans-Bold';
        src: url('./assets/fonts/NunitoSans-SemiBold.ttf');
    }
    @font-face {
        font-family: 'Pacifico';
        src: url('./assets/fonts/Pacifico-Regular.ttf');
    }
}
